* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    font-family: "Cambria", "Cochin", Georgia, Times, 'Times New Roman', serif;
}
.header-one {
    display: flex ;
    padding: 20px 100px 0px 100px;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
}

.h-links {
    display: flex;
    padding-right: 20px;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;

}

.header-logo {
    padding-left: 10px;
    font-size: 24px;
    color: #f9fbf8;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}
a:hover{
    color: aqua;
}

.image1 {
    border: 2px solid #e5e7eb;
    width: 450px;
    height: 200px;

}

.htext {
    padding-bottom: 5px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9fbf8;
}

.htextline {
    border: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    width: 150px;
    background-color: #3882f6;
    color: #f9fbf8;
    border-radius: 5px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}


.header-two {
    display: flex;
    padding: 75px 150px 100px 150px;
    justify-content: space-around;
    background-color: #1f2937;
    align-items: center;

}
/* header is now complete */

/*main content starts*/

.maintext {
    margin: 0;
    padding: 50px 0px 30px 0px;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.main-boxes {
    align-items: center;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    width: 300px;
    white-space: normal;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.image2 {
    display: flex;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    border: 2px solid #3882f6;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}