* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    font-family: "Cambria", "Cochin", Georgia, Times, 'Times New Roman', serif;
}
body {
    height: 100%;
}
/*header starts here*/
.header-one {
    display: flex ;
    padding: 20px 100px 0px 100px;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
}

.h-links {
    display: flex;
    padding-right: 20px;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;

}

.header-logo {
    padding-left: 10px;
    font-size: 24px;
    color: #f9fbf8;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}
a:hover{
    color: aqua;
}

.image1 {
    border: 2px solid #e5e7eb;
    width: 450px;
    height: 200px;

}

.htext {
    padding-bottom: 5px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9fbf8;
}

.htextline {
    border: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    font-weight: bolder;
    width: 150px;
    background-color: #3882f6;
    color: #f9fbf8;
    border-radius: 6px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
button {
    transition-duration: 0.4s;
  }
  
button:hover {
    background-color: #f9fbf8; /* white */
    color: black;
  }

.header-two {
    display: flex;
    padding: 75px 150px 100px 150px;
    justify-content: space-around;
    background-color: #1f2937;
    align-items: center;

}
/* header is now complete */

/*main content starts*/

.maintext {
    margin: 0;
    padding: 50px 0px 30px 0px;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.main-boxes {
    align-items: center;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px ;
}
.box{
    width: 300px;
    white-space: normal;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.image2 {
    display: flex;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    border: 2px solid #3882f6;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*the main content box is now finished*/

/*qoute page will now start*/

.quote-box {
    background-color: #e5e7eb;
    width: auto;
    margin: 0;
    height: 300px;
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 .quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
  
 }

 .author {
    text-align: right;
    font-size: 40px;
    font-weight: bolder;
 }


 /*quote box is now completed*/

 /*call to action begins from below*/

 .cta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 300px;
    background-color: #3882f6;
    width: auto;
    height: 100px;
    border-radius: 7px;
 }
 
 .cta-main {
    font-size: 24px;
    font-weight: bold;
    color: #f9fbf8;
    padding-bottom: 3px;
 
 }

 .cta-sub {
    color: #f9fbf8;
 }

 .cta-but {
    border-width: 2px;
    border-color: #f9fbf8;
 }
 /*call to action is now completed*/

 /*footer will now begin*/

footer {

    background-color: #1f2937;
    font-size: 24px;
    font-weight: bold;
    color: #f9fbf8;
    text-align: center;
    bottom: 0;
    width: 100%;
    min-height: 70px;
}
/*footer is now complete*/